@import "./assets/css/reset.css";

body {
  background-color: #0c1016;
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  width: 100%;
  margin: 100px auto;
  justify-content: center;
  align-items: center;

  button {
    background-color: #414d58;
    color: white;
    border: none;
    padding: 10px 50px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #ff5c5c;
    }
  }
}
