@import "../../../assets/css/reset.css";

.movie-card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  gap: 10px;
  transition: 0.3s ease-in-out;

  &:hover {
    scale: 1.05;
  }

  img {
    width: 200px;
    height: 300px;
  }

  .description {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 40px;

    h3 {
      font-size: 14px;
      color: #2e859e;
    }

    .year {
      color: #848b8e;
      font-size: 14px;
    }
  }
}
