<div class="sidebar">
  <ul>
    <li>
      <a routerLink="/category/Movie" routerLinkActive="active">Movies</a>
    </li>
    <li>
      <a routerLink="/category/Series" routerLinkActive="active">Series</a>
    </li>
    <li>
      <a routerLink="/category/TV Shows" routerLinkActive="active">TV Shows</a>
    </li>
    <li>
      <a routerLink="/category/Animation" routerLinkActive="active"
        >Animation</a
      >
    </li>
    <li>
      <a routerLink="/category/Documentary" routerLinkActive="active"
        >Documentary</a
      >
    </li>
    <li>
      <a routerLink="/category/Short Film" routerLinkActive="active"
        >Short Films</a
      >
    </li>
  </ul>
</div>
