@import "../../../../assets/css/reset.css";

.sidebar {
  padding: 20px 0;
  background-color: #222d33;
  width: 100%;

  ul {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;

    @media (max-width: 768px) {
      flex-direction: column;
      align-items: center;
      gap: 12px;
    }

    a {
      color: #848b8e;
      font-size: 16px;
      transition: color 0.3s ease-in-out;

      &:hover,
      &.active {
        color: #ff5c5c;
        font-weight: bold;
      }
    }
  }
}
